Repository shahadathhs/vortex: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format:fix

feat: implement two-factor authentication (TFA) features in auth service
  common/src/constants/events.ts
  common/src/core/jwt.ts
  common/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/lib/tfa.events.ts
  services/auth-service/src/models/User.ts
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/src/schemas/auth.schema.ts
  services/auth-service/src/services/auth.service.ts
  services/auth-service/src/types/user.interface.ts
  services/notification-service/package.json
  services/notification-service/src/app.ts
  services/notification-service/src/constants/notification-types.ts
  services/notification-service/src/controllers/notification-settings.controller.ts
  services/notification-service/src/handlers/order.handlers.ts
  services/notification-service/src/handlers/tfa.handlers.ts
  services/notification-service/src/handlers/user.handlers.ts
  services/notification-service/src/lib/deliver-realtime.ts
  services/notification-service/src/lib/socket.ts
  services/notification-service/src/models/NotificationSettings.ts
  services/notification-service/src/routes/notification.routes.ts
  services/notification-service/src/schemas/notification-settings.schema.ts
  services/notification-service/src/server.ts
  services/notification-service/src/services/notification-settings.service.ts
  services/notification-service/src/services/notification.service.ts
Due: pnpm lint:fix, pnpm format:fix

feat: add Next.js web application with initial configuration and components
  .gitignore
  .prettierignore
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
  web/.gitignore
  web/README.md
  web/eslint.config.mjs
  web/next.config.ts
  web/package.json
  web/postcss.config.mjs
  web/public/file.svg
  web/public/globe.svg
  web/public/next.svg
  web/public/vercel.svg
  web/public/window.svg
  web/src/app/favicon.ico
  web/src/app/globals.css
  web/src/app/layout.tsx
  web/src/app/page.tsx
  web/tsconfig.json
  web/vercel.json
Due: pnpm lint:fix, pnpm format:fix

chore(release): 1.5.0 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm format:fix

Notes added by 'git notes add'
  ababcc7f50c2f7efcb211fb5fa3d8fffee89e2a6
Due: none

chore: update dependencies and package configurations
  common/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/package.json
Due: pnpm format:fix

feat: add web service and update configurations
  .dockerignore
  .github/workflows/release.yml
  Makefile
  common/package.json
  compose.yaml
  ecosystem.config.mjs
  gateway/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/Dockerfile
  web/next.config.ts
  web/package.json
Due: pnpm lint:fix, pnpm format:fix

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm format:fix

Notes added by 'git notes add'
  f584c45d98f5184fea87deaf2f096aba6742728a
Due: none

chore: sync pnpm lock file
  pnpm-lock.yaml
Due: none

Add Repobeats analytics image
  README.md
Due: pnpm format:fix

fix: update README to correct image alt text formatting
  README.md
Due: pnpm format:fix

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm format:fix

Notes added by 'git notes add'
  79068165696680078474b669fd0657e6681699d2
Due: none

chore: update environment configurations and service ports
  .env.example
  compose.yaml
  ecosystem.config.mjs
  gateway/src/app.ts
  gateway/src/proxy.ts
  web/Dockerfile
  web/next.config.ts
  web/package.json
  web/src/lib/api.ts
Due: pnpm lint:fix, pnpm format:fix

chore: update package.json and pnpm files for environment configuration and dependency management
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/src/app/(dashboard)/buyer/analytics/page.tsx
  web/src/app/(dashboard)/buyer/cart/page.tsx
  web/src/app/(dashboard)/buyer/checkout/page.tsx
  web/src/app/(dashboard)/buyer/orders/page.tsx
  web/src/app/(dashboard)/buyer/shop/page.tsx
  web/src/app/(dashboard)/profile/page.tsx
  web/src/app/(dashboard)/seller/analytics/page.tsx
  web/src/app/(dashboard)/seller/connect/page.tsx
  web/src/app/(dashboard)/seller/orders/page.tsx
  web/src/app/(dashboard)/seller/products/page.tsx
  web/src/app/(dashboard)/system/activities/page.tsx
  web/src/app/(dashboard)/system/analytics/page.tsx
  web/src/app/(dashboard)/system/payment/page.tsx
  web/src/app/(dashboard)/system/sellers/page.tsx
  web/src/hooks/useNotifications.ts
  web/src/lib/api.ts
Due: pnpm lint:fix, pnpm format:fix

chore: update environment configuration and service entry points
  .env.example
  gateway/package.json
  package.json
  pnpm-lock.yaml
  services/auth-service/package.json
  services/notification-service/package.json
  services/order-service/package.json
  services/payment-service/package.json
  services/product-service/package.json
  turbo.json
  web/Dockerfile
  web/next.config.ts
  web/src/app/(dashboard)/buyer/analytics/page.tsx
Due: pnpm lint:fix, pnpm format:fix

chore: update Dockerfile and Next.js configuration for standalone deployment
  web/Dockerfile
  web/next.config.ts
Due: pnpm lint:fix, pnpm format:fix

chore: refactor API data fetching and remove react-query dependencies
  pnpm-lock.yaml
  pnpm-workspace.yaml
  web/package.json
  web/src/app/(dashboard)/buyer/analytics/page.tsx
  web/src/app/(dashboard)/buyer/cart/page.tsx
  web/src/app/(dashboard)/buyer/checkout/page.tsx
  web/src/app/(dashboard)/buyer/orders/page.tsx
  web/src/app/(dashboard)/buyer/shop/AddToCartButton.tsx
  web/src/app/(dashboard)/buyer/shop/ShopFilters.tsx
  web/src/app/(dashboard)/buyer/shop/actions.ts
  web/src/app/(dashboard)/buyer/shop/page.tsx
  web/src/app/(dashboard)/notifications/page.tsx
  web/src/app/(dashboard)/profile/page.tsx
  web/src/app/(dashboard)/seller/analytics/page.tsx
  web/src/app/(dashboard)/seller/connect/page.tsx
  web/src/app/(dashboard)/seller/orders/page.tsx
  web/src/app/(dashboard)/seller/products/page.tsx
  web/src/app/(dashboard)/system/activities/ActivitiesFilters.tsx
  web/src/app/(dashboard)/system/activities/page.tsx
  web/src/app/(dashboard)/system/analytics/page.tsx
  web/src/app/(dashboard)/system/payment/page.tsx
  web/src/app/(dashboard)/system/sellers/page.tsx
  web/src/app/layout.tsx
  web/src/components/layout/NotificationBell.tsx
  web/src/hooks/useNotifications.ts
  web/src/lib/api-server.ts
  web/src/providers/AuthProvider.tsx
  web/src/providers/QueryProvider.tsx
Due: pnpm lint:fix, pnpm format:fix

refactor: update authentication flow to use token and refresh token
  web/src/app/(auth)/login/page.tsx
  web/src/app/(auth)/register/page.tsx
  web/src/app/(auth)/tfa/page.tsx
  web/src/lib/api-server.ts
  web/src/lib/api.ts
  web/src/providers/AuthProvider.tsx
Due: pnpm lint:fix, pnpm format:fix

refactor: update type assertion for API response in authentication components
  web/src/app/(auth)/login/page.tsx
  web/src/app/(auth)/register/page.tsx
  web/src/app/(auth)/tfa/page.tsx
Due: pnpm lint:fix, pnpm format:fix

chore: Update pnpm lockfile.
  pnpm-lock.yaml
Due: none

refactor: Remove `make tools` target, increase pagination limit to 1000, and improve seller data parsing in the dashboard.
  CONTRIBUTING.md
  Makefile
  common/src/schemas/pagination.schema.ts
  services/product-service/src/services/product.service.ts
  web/src/app/(dashboard)/system/sellers/page.tsx
Due: pnpm lint:fix, pnpm format:fix

feat: Add product shop feature with Brand and Category models
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/product-service/package.json
  services/product-service/src/app.ts
  services/product-service/src/controllers/public.controller.ts
  services/product-service/src/models/Brand.ts
  services/product-service/src/models/Category.ts
  services/product-service/src/models/Product.ts
  services/product-service/src/models/index.ts
  services/product-service/src/routes/public.routes.ts
  services/product-service/src/types/brand.interface.ts
  services/product-service/src/types/category.interface.ts
  services/product-service/src/types/product.interface.ts
  web/eslint.config.mjs
  web/package.json
  web/src/app/page.tsx
  web/src/app/product/[slug]/page.tsx
  web/src/app/shop/page.tsx
  web/src/components/product/ProductGallery.tsx
  web/src/components/product/ProductInfo.tsx
  web/src/components/product/ProductTabs.tsx
  web/src/components/product/ReviewList.tsx
  web/src/components/shop/ProductCard.tsx
  web/src/components/shop/ProductFilters.tsx
  web/src/components/shop/ProductGrid.tsx
  web/src/components/shop/ProductSort.tsx
  web/src/components/ui/checkbox.tsx
  web/src/components/ui/slider.tsx
  web/src/lib/api-client.ts
  web/src/types/index.ts
Due: pnpm lint:fix, pnpm format:fix

docs: Add comprehensive project documentation
  docs/01-database-design/catalog-schema.md
  docs/01-database-design/marketing-schema.md
  docs/01-database-design/order-schema.md
  docs/01-database-design/product-schema.md
  docs/01-database-design/reviews-schema.md
  docs/01-database-design/user-schema.md
  docs/02-api-design/checkout-api.md
  docs/02-api-design/product-api.md
  docs/02-api-design/public-api.md
  docs/02-api-design/search-api.md
  docs/03-implementation-phases/phase-2-catalog.md
  docs/03-implementation-phases/phase-3-shopping.md
  docs/03-implementation-phases/phase-4-reviews.md
  docs/03-implementation-phases/phase-5-marketing.md
  docs/03-implementation-phases/phase-6-seller-tools.md
  docs/04-frontend-architecture/performance.md
  docs/04-frontend-architecture/public-pages.md
  docs/04-frontend-architecture/user-flow.md
  docs/05-final-outcome/feature-complete.md
  docs/05-final-outcome/phase-1-complete.md
Due: pnpm format:fix

Path conditions:
  pnpm lint:fix: any of: *.{js,ts,jsx,tsx}
  pnpm format:fix: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,md})
