Repository shahadathhs/vortex: changes, and which lint-staged commands are due for each by the changed paths.
All: pnpm lint:fix, pnpm format:fix

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": ["pnpm lint:fix", "pnpm format:fix"],
  "*.{json,md}": ["pnpm format:fix"]
}

chore: realse yml fixed
  .github/workflows/release.yml
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm format:fix

Notes added by 'git notes add'
  35eaa31e208dc740d3ff48533fa5209663a4c918
Due: none

chore: lint setup updated
  gateway/package.json
  gateway/src/index.ts
  package.json
  packages/common/package.json
  packages/common/src/auth/jwt.ts
  packages/common/src/errors/errorHandler.ts
  packages/common/src/messaging/rabbitmq.ts
  packages/common/src/types/auth.ts
  packages/common/src/utils/index.ts
  packages/common/src/utils/logger.ts
  packages/config/package.json
  packages/eslint-config/base.js
  packages/eslint-config/package.json
  packages/typescript-config/base.json
  pnpm-lock.yaml
  services/auth-service/package.json
  services/auth-service/src/index.ts
  services/notification-service/package.json
  services/order-service/package.json
  services/order-service/src/index.ts
  services/product-service/package.json
  services/product-service/src/index.ts
Due: pnpm lint:fix, pnpm format:fix

chore(deps): update eslint and turbo versions, remove unused config package
  package.json
  packages/common/package.json
  packages/config/package.json
  packages/eslint-config/base.js
  pnpm-lock.yaml
Due: pnpm lint:fix, pnpm format:fix

chore: update logger configuration and add new dependencies
  .gitignore
  packages/common/package.json
  packages/common/src/utils/logger.ts
  pnpm-lock.yaml
Due: pnpm lint:fix, pnpm format:fix

chore: update package configuration and clean up code structure
  common/README.md
  common/eslint.config.mjs
  common/package.json
  common/src/constants/env/auth-env.ts
  common/src/constants/env/gateway-env.ts
  common/src/constants/env/index.ts
  common/src/constants/env/notification-env.ts
  common/src/constants/env/order-env.ts
  common/src/constants/env/product-env.ts
  common/src/constants/events.ts
  common/src/constants/index.ts
  common/src/constants/permissions.ts
  common/src/constants/queues.ts
  common/src/core/rabbit-mq-manager.ts
  common/src/errors/api-errors.ts
  common/src/errors/error-handler.ts
  common/src/errors/mongoose-error-parser.ts
  common/src/index.ts
  common/src/middleware/auth.ts
  common/src/middleware/rbac.ts
  common/src/middleware/validate-request.ts
  common/src/utils/async-handler.ts
  common/tsup.config.ts
  pnpm-lock.yaml
Due: pnpm lint:fix, pnpm format:fix

refactor: centralize dependency management using catalog references
  common/package.json
  common/src/index.ts
  common/src/types/amqplib.ts
  gateway/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/auth-service/package.json
  services/auth-service/src/services/auth.service.ts
  services/notification-service/package.json
  services/notification-service/src/services/notification.service.ts
  services/order-service/package.json
  services/order-service/src/services/order.service.ts
  services/product-service/package.json
Due: pnpm lint:fix, pnpm format:fix

chore: update Makefile and package configuration for improved development workflow
  .npmrc
  Makefile
  package.json
Due: pnpm format:fix

fix: rename Config.ts to config.ts for Linux case-sensitivity
  common/src/core/config.ts
Due: pnpm lint:fix, pnpm format:fix

chore: update ecosystem configuration and Makefile for PM2 management
  Makefile
  ecosystem.config.mjs
  eslint.config.mjs
  tsconfig.json
Due: pnpm format:fix

chore(release): 1.2.1 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm format:fix

Notes added by 'git notes add'
  8df5561f9ab9eea4b778288cf23bd8a8b1475a90
Due: none

feat: enhance order and notification services with new features and improvements
  README.md
  common/eslint.config.mjs
  common/src/constants/events.ts
  eslint.config.mjs
  gateway/Dockerfile
  gateway/eslint.config.mjs
  gateway/src/proxy/proxy.ts
  services/auth-service/Dockerfile
  services/auth-service/eslint.config.mjs
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/src/services/auth.service.ts
  services/notification-service/Dockerfile
  services/notification-service/eslint.config.mjs
  services/notification-service/src/services/notification.service.ts
  services/order-service/Dockerfile
  services/order-service/eslint.config.mjs
  services/order-service/src/app.ts
  services/order-service/src/controllers/cart.controller.ts
  services/order-service/src/controllers/order.controller.ts
  services/order-service/src/models/Cart.ts
  services/order-service/src/models/Order.ts
  services/order-service/src/routes/cart.routes.ts
  services/order-service/src/routes/order.routes.ts
  services/order-service/src/schemas/order.schema.ts
  services/order-service/src/services/cart.service.ts
  services/order-service/src/services/order.service.ts
  services/order-service/src/types/cart.interface.ts
  services/order-service/src/types/order.interface.ts
  services/product-service/Dockerfile
  services/product-service/eslint.config.mjs
  services/product-service/src/controllers/product.controller.ts
  services/product-service/src/models/Product.ts
  services/product-service/src/routes/product.routes.ts
  services/product-service/src/schemas/product.schema.ts
  services/product-service/src/services/product.service.ts
  services/product-service/src/types/product.interface.ts
Due: pnpm lint:fix, pnpm format:fix

Update README.md
  README.md
Due: pnpm format:fix

Update services/notification-service/src/services/notification.service.ts
  services/notification-service/src/services/notification.service.ts
Due: pnpm lint:fix, pnpm format:fix

feat: enhance JWT authentication and product management across services
  README.md
  common/src/constants/env/order-env.ts
  common/src/constants/env/product-env.ts
  compose.yaml
  services/auth-service/src/services/auth.service.ts
  services/notification-service/src/services/notification.service.ts
  services/order-service/src/controllers/cart.controller.ts
  services/order-service/src/controllers/order.controller.ts
  services/order-service/src/routes/cart.routes.ts
  services/order-service/src/routes/order.routes.ts
  services/order-service/src/schemas/cart.schema.ts
  services/order-service/src/schemas/order.schema.ts
  services/order-service/src/services/order.service.ts
  services/product-service/src/routes/product.routes.ts
  services/product-service/src/schemas/product.schema.ts
Due: pnpm lint:fix, pnpm format:fix

feat: add product deletion event and enhance authentication middleware
  common/src/constants/events.ts
  common/src/middleware/auth.ts
  services/auth-service/src/services/auth.service.ts
  services/notification-service/src/services/notification.service.ts
  services/order-service/src/controllers/cart.controller.ts
  services/order-service/src/controllers/order.controller.ts
  services/order-service/src/routes/cart.routes.ts
  services/order-service/src/routes/order.routes.ts
  services/order-service/src/services/cart.service.ts
  services/product-service/src/services/product.service.ts
Due: pnpm lint:fix, pnpm format:fix

feat: implement superadmin functionality and enhance user management
  .env.production
  README.md
  common/src/constants/env/auth-env.ts
  common/src/constants/permissions.ts
  common/src/types/auth.ts
  compose.yaml
  package.json
  pnpm-lock.yaml
  services/auth-service/.env.example
  services/auth-service/eslint.config.mjs
  services/auth-service/package.json
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/models/User.ts
  services/auth-service/src/routes/admin.routes.ts
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/src/schemas/auth.schema.ts
  services/auth-service/src/scripts/seed-superadmin.ts
  services/auth-service/src/server.ts
  services/auth-service/src/services/auth.service.ts
  services/auth-service/src/types/user.interface.ts
  services/order-service/src/controllers/order.controller.ts
  turbo.json
Due: pnpm lint:fix, pnpm format:fix

Update services/auth-service/src/routes/auth.routes.ts
  services/auth-service/src/routes/auth.routes.ts
Due: pnpm lint:fix, pnpm format:fix

refactor: update cache settings and improve route authentication
  services/auth-service/src/routes/auth.routes.ts
  services/order-service/src/controllers/cart.controller.ts
  turbo.json
Due: pnpm lint:fix, pnpm format:fix

chore(release): 1.3.0 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm format:fix

Notes added by 'git notes add'
  334a8ab0bab9fdd13122adc57f1551f1c815a0b0
Due: none

chore: update README and refactor code structure
  .gitignore
  README.md
  common/src/constants/http-status.ts
  common/src/errors/error-types.ts
  common/src/errors/mongoose-error-parser.ts
  common/src/middleware/api-info-logger.ts
  common/src/middleware/not-found.ts
  common/src/utils/response.ts
  gateway/eslint.config.mjs
  gateway/src/app.ts
  gateway/src/config/config.ts
  gateway/src/proxy.ts
  gateway/src/proxy/proxy.ts
  gateway/src/server.ts
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/routes/admin.routes.ts
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/src/server.ts
  services/auth-service/src/services/auth.service.ts
  services/notification-service/eslint.config.mjs
  services/notification-service/src/services/notification.service.ts
  services/order-service/eslint.config.mjs
  services/order-service/src/controllers/cart.controller.ts
  services/order-service/src/controllers/order.controller.ts
  services/order-service/src/services/cart.service.ts
  services/order-service/src/services/order.service.ts
  services/product-service/eslint.config.mjs
  services/product-service/src/controllers/product.controller.ts
  services/product-service/src/routes/product.routes.ts
  services/product-service/src/services/product.service.ts
Due: pnpm lint:fix, pnpm format:fix

chore: update dependencies and enhance notification service
  README.md
  common/src/constants/env/auth-env.ts
  common/src/constants/env/notification-env.ts
  common/src/constants/queues.ts
  common/src/core/config.ts
  gateway/package.json
  gateway/src/app.ts
  gateway/src/docs/openapi.ts
  gateway/src/middleware/rate-limit.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/lib/password-reset.events.ts
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/src/schemas/auth.schema.ts
  services/auth-service/src/scripts/seed-superadmin.ts
  services/auth-service/src/services/auth.service.ts
  services/notification-service/.env.example
  services/notification-service/package.json
  services/notification-service/src/config/config.ts
  services/notification-service/src/handlers/order.handlers.ts
  services/notification-service/src/handlers/password.handlers.ts
  services/notification-service/src/handlers/user.handlers.ts
  services/notification-service/src/lib/email.ts
  services/notification-service/src/server.ts
  services/notification-service/src/services/notification.service.ts
  services/order-service/src/controllers/order.controller.ts
  services/order-service/src/models/Order.ts
  services/order-service/src/services/order.service.ts
  services/order-service/src/types/order.interface.ts
  services/product-service/src/consumers/order.consumer.ts
  services/product-service/src/server.ts
  turbo.json
Due: pnpm lint:fix, pnpm format:fix

feat: add payment service and integrate Stripe for checkout
  Makefile
  README.md
  common/src/constants/env/gateway-env.ts
  common/src/constants/env/index.ts
  common/src/constants/env/order-env.ts
  common/src/constants/env/payment-env.ts
  common/src/constants/index.ts
  compose.yaml
  ecosystem.config.mjs
  gateway/src/docs/openapi.ts
  gateway/src/proxy.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/order-service/src/controllers/internal.controller.ts
  services/order-service/src/middleware/internal-auth.ts
  services/order-service/src/routes/internal.routes.ts
  services/order-service/src/routes/order.routes.ts
  services/payment-service/.env.example
  services/payment-service/.prettierignore
  services/payment-service/Dockerfile
  services/payment-service/eslint.config.mjs
  services/payment-service/package.json
  services/payment-service/src/app.ts
  services/payment-service/src/config/config.ts
  services/payment-service/src/controllers/checkout.controller.ts
  services/payment-service/src/controllers/webhook.controller.ts
  services/payment-service/src/lib/http-client.ts
  services/payment-service/src/routes/checkout.routes.ts
  services/payment-service/src/routes/webhook.routes.ts
  services/payment-service/src/server.ts
  services/payment-service/src/services/checkout.service.ts
  services/payment-service/src/services/stripe.service.ts
  services/payment-service/tsconfig.json
  turbo.json
Due: pnpm lint:fix, pnpm format:fix

chore: update amqplib and @types/amqplib dependencies across services
  common/src/index.ts
  common/src/schemas/pagination.ts
  common/src/types/amqplib.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/auth-service/package.json
  services/auth-service/src/lib/password-reset.events.ts
  services/auth-service/src/services/auth.service.ts
  services/notification-service/package.json
  services/notification-service/src/services/notification.service.ts
  services/order-service/package.json
  services/order-service/src/services/order.service.ts
  services/product-service/package.json
  services/product-service/src/consumers/order.consumer.ts
  services/product-service/src/services/product.service.ts
Due: pnpm lint:fix, pnpm format:fix

feat: enhance event and queue management with new event types and routing keys
  common/src/constants/events.ts
  common/src/constants/queues.ts
  services/auth-service/src/lib/password-reset.events.ts
  services/auth-service/src/services/auth.service.ts
  services/notification-service/src/services/notification.service.ts
  services/order-service/src/services/order.service.ts
  services/product-service/src/consumers/order.consumer.ts
  services/product-service/src/services/product.service.ts
Due: pnpm lint:fix, pnpm format:fix

chore(release): 1.4.0 [skip ci]
  CHANGELOG.md
  package.json
Due: pnpm format:fix

Notes added by 'git notes add'
  da693c93301b388d761b74c3dec6a661c7545721
Due: none

chore: update Makefile and GitHub Actions for Docker image builds
  .github/workflows/release.yml
  Makefile
Due: none
