Repository shahadathhs/vortex: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run format:fix

chore: refactor folder structure
  gateway/package.json
  gateway/src/index.ts
  gateway/tsconfig.json
  implementation_plan.md
  package.json
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/middlewares/error-handler.ts
  packages/common/src/utils/config.ts
  packages/common/src/utils/jwt-util.ts
  packages/common/src/utils/rabbitmq.ts
  packages/common/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  services/common/src/index.ts
  services/notification-service/package.json
  services/notification-service/src/index.ts
  services/notification-service/tsconfig.json
  services/order-service/package.json
  services/order-service/src/index.ts
  services/order-service/tsconfig.json
  services/product-service/package.json
  services/product-service/src/index.ts
  services/product-service/tsconfig.json
Due: npm run lint:fix, npm run format:fix

chore: refactor codebase ongoing
  .prettierignore
  eslint.config.mjs
  gateway/package.json
  gateway/src/app.ts
  gateway/src/index.ts
  gateway/src/proxy/index.ts
  gateway/tsconfig.json
  packages/common/src/config.ts
  packages/common/src/error-handler.ts
  packages/common/src/index.ts
  packages/common/src/jwt-util.ts
  packages/common/src/rabbitmq.ts
  packages/common/src/utils/config.ts
  packages/common/src/utils/jwt-util.ts
  packages/constants/package.json
  packages/constants/src/index.ts
  packages/constants/tsconfig.json
  pnpm-lock.yaml
  services/auth-service/package.json
  services/auth-service/src/config.ts
  services/auth-service/src/index.ts
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/tsconfig.json
  services/notification-service/package.json
  services/notification-service/src/config.ts
  services/notification-service/src/index.ts
  services/notification-service/tsconfig.json
  services/order-service/package.json
  services/order-service/src/config.ts
  services/order-service/src/index.ts
  services/order-service/src/models/Order.ts
  services/order-service/src/routes/order.routes.ts
  services/order-service/tsconfig.json
  services/product-service/package.json
  services/product-service/src/config.ts
  services/product-service/src/index.ts
  services/product-service/src/models/Product.ts
  services/product-service/src/routes/product.routes.ts
  services/product-service/tsconfig.json
Due: npm run lint:fix, npm run format:fix

chore: env config reusable
  gateway/src/config.ts
  gateway/src/index.ts
  packages/common/src/config.ts
  packages/common/src/index.ts
  packages/constants/src/index.ts
  services/auth-service/src/config.ts
  services/auth-service/src/index.ts
  services/auth-service/src/routes/auth.routes.ts
  services/notification-service/src/config.ts
  services/notification-service/src/index.ts
  services/order-service/src/config.ts
  services/order-service/src/index.ts
  services/product-service/src/config.ts
  services/product-service/src/index.ts
Due: npm run lint:fix, npm run format:fix

chore: config update
  gateway/package.json
  gateway/src/config.ts
  packages/config/package.json
  packages/config/src/enums/auth.ts
  packages/config/src/enums/gateway.ts
  packages/config/src/enums/notification.ts
  packages/config/src/enums/order.ts
  packages/config/src/enums/product.ts
  packages/config/src/index.ts
  packages/config/tsconfig.json
  pnpm-lock.yaml
  services/auth-service/package.json
  services/auth-service/src/config.ts
  services/notification-service/package.json
  services/notification-service/src/config.ts
  services/order-service/package.json
  services/order-service/src/config.ts
  services/product-service/package.json
  services/product-service/src/config.ts
Due: npm run lint:fix, npm run format:fix

chore: config setup fixing
  gateway/src/config.ts
  gateway/src/index.ts
  packages/config/package.json
  packages/config/src/index.ts
  pnpm-lock.yaml
  services/auth-service/src/config.ts
  services/auth-service/src/index.ts
  services/auth-service/src/routes/auth.routes.ts
  services/notification-service/src/config.ts
  services/notification-service/src/index.ts
  services/order-service/src/config.ts
  services/order-service/src/index.ts
  services/order-service/src/routes/order.routes.ts
  services/product-service/src/config.ts
  services/product-service/src/index.ts
Due: npm run lint:fix, npm run format:fix

chore: config setup completed
  gateway/package.json
  gateway/src/config/index.ts
  gateway/src/index.ts
  gateway/src/proxy/index.ts
  packages/config/package.json
  packages/config/src/constants/index.ts
  packages/config/src/core/Config.ts
  packages/config/src/index.ts
  packages/constants/package.json
  packages/constants/src/index.ts
  packages/constants/tsconfig.json
  pnpm-lock.yaml
  services/auth-service/package.json
  services/auth-service/src/app.ts
  services/auth-service/src/config/index.ts
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/index.ts
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/src/services/auth.service.ts
  services/notification-service/package.json
  services/notification-service/src/app.ts
  services/notification-service/src/config/index.ts
  services/notification-service/src/index.ts
  services/notification-service/src/services/notification.service.ts
  services/order-service/package.json
  services/order-service/src/app.ts
  services/order-service/src/config/index.ts
  services/order-service/src/controllers/order.controller.ts
  services/order-service/src/index.ts
  services/order-service/src/routes/order.routes.ts
  services/order-service/src/services/order.service.ts
  services/product-service/package.json
  services/product-service/src/app.ts
  services/product-service/src/config/index.ts
  services/product-service/src/controllers/product.controller.ts
  services/product-service/src/index.ts
  services/product-service/src/routes/product.routes.ts
  services/product-service/src/services/product.service.ts
Due: npm run lint:fix, npm run format:fix

chore: fixign zod validaiton
  packages/common/package.json
  packages/common/src/index.ts
  packages/common/src/validate-request.ts
  pnpm-lock.yaml
  services/auth-service/package.json
  services/auth-service/src/models/User.ts
  services/auth-service/src/routes/auth.routes.ts
  services/auth-service/src/schemas/auth.schema.ts
  services/auth-service/src/types/user.interface.ts
  services/order-service/package.json
  services/order-service/src/models/Order.ts
  services/order-service/src/routes/order.routes.ts
  services/order-service/src/schemas/order.schema.ts
  services/order-service/src/types/order.interface.ts
  services/product-service/package.json
  services/product-service/src/models/Product.ts
  services/product-service/src/routes/product.routes.ts
  services/product-service/src/schemas/product.schema.ts
  services/product-service/src/types/product.interface.ts
Due: npm run lint:fix, npm run format:fix

chore: setup completed
  .gitignore
  .lintstagedrc
  eslint.config.mjs
  gateway/tsconfig.json
  package.json
  packages/common/package.json
  packages/common/tsconfig.json
  packages/config/tsconfig.json
  pnpm-lock.yaml
  services/auth-service/tsconfig.json
  services/notification-service/tsconfig.json
  services/order-service/src/types/order.interface.d.ts
  services/order-service/src/types/order.interface.js
  services/order-service/tsconfig.json
  services/product-service/tsconfig.json
  turbo.json
Due: npm run lint:fix, npm run format:fix

chore: env enum setup completed
  .gitignore
  .vscode/settings.json
  gateway/.env.example
  services/auth-service/.env.example
  services/notification-service/.env.example
  services/order-service/.env.example
  services/product-service/.env.example
Due: npm run format:fix

chore: dockrizing the app
  .dockerignore
  .env.development
  .env.production
  .vscode/settings.json
  Makefile
  compose.infra.yaml
  compose.yaml
  gateway/.env.example
  gateway/Dockerfile
  services/auth-service/.env.example
  services/auth-service/Dockerfile
  services/notification-service/.env.example
  services/notification-service/Dockerfile
  services/order-service/.env.example
  services/order-service/Dockerfile
  services/product-service/.env.example
  services/product-service/Dockerfile
Due: npm run format:fix

chore: fixing dockerfile
  .dockerignore
  .env.development
  .env.production
  .vscode/settings.json
  Makefile
  compose.infra.yaml
  compose.yaml
  gateway/Dockerfile
  package.json
Due: npm run format:fix

chore: docker files fixed
  services/auth-service/Dockerfile
  services/notification-service/Dockerfile
  services/order-service/Dockerfile
  services/product-service/Dockerfile
Due: none

chore: compose file fixed
  Makefile
  compose.infra.yaml
  compose.yaml
  gateway/.env.example
  services/auth-service/.env.example
  services/notification-service/.env.example
  services/order-service/.env.example
  services/product-service/.env.example
Due: none

chore: docker setup updated
  Makefile
  compose.yaml
  gateway/src/config/index.ts
  gateway/src/proxy/index.ts
  packages/config/src/constants/index.ts
  packages/config/src/core/Config.ts
  packages/config/src/enums/gateway.ts
  services/auth-service/src/config/index.ts
  services/notification-service/src/config/index.ts
  services/order-service/src/config/index.ts
  services/product-service/src/config/index.ts
Due: npm run lint:fix, npm run format:fix

chore: docker compose file fixed
  .vscode/settings.json
  Makefile
  compose.infra.yaml
  compose.yaml
Due: npm run format:fix

docs: readme file updated
  README.md
Due: npm run format:fix

feat: auth service ongoing
  packages/common/package.json
  packages/common/src/auth/index.ts
  packages/common/src/auth/jwt.ts
  packages/common/src/errors/errorHandler.ts
  packages/common/src/errors/index.ts
  packages/common/src/index.ts
  packages/common/src/messaging/index.ts
  packages/common/src/messaging/rabbitmq.ts
  packages/common/src/types/auth.ts
  packages/common/src/types/index.ts
  packages/common/src/utils/asyncHandler.ts
  packages/common/src/utils/index.ts
  packages/common/src/validation/index.ts
  packages/common/src/validation/validateRequest.ts
  pnpm-lock.yaml
  services/auth-service/package.json
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/models/User.ts
  services/auth-service/src/schemas/auth.schema.ts
  services/auth-service/src/services/auth.service.ts
  services/auth-service/src/types/user.interface.ts
Due: npm run lint:fix, npm run format:fix

feat: update MongoDB URIs in environment files for auth, order, and product services
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .vscode/settings.json
  Makefile
  compose.yaml
  ecosystem.config.mjs
  gateway/.env.example
  package.json
  packages/common/src/index.ts
  packages/config/src/constants/index.ts
  pnpm-lock.yaml
  release.config.mjs
  services/auth-service/.env.example
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/models/User.ts
  services/auth-service/src/services/auth.service.ts
  services/notification-service/.env.example
  services/order-service/.env.example
  services/product-service/.env.example
  turbo.json
Due: npm run lint:fix, npm run format:fix

feat: Add GitHub Actions workflows for continuous integration checks and release management including Docker image builds.
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: none

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: npm run format:fix

Notes added by 'git notes add'
  69f7f9904a70da14373ed8e053b61a7be4412f66
Due: none

feat: add CI/CD workflows and update dockerfiles for all services, and update package.json build scripts.
  .github/workflows/ci.yml
  .github/workflows/release.yml
  gateway/Dockerfile
  package.json
  services/auth-service/Dockerfile
  services/notification-service/Dockerfile
  services/order-service/Dockerfile
  services/product-service/Dockerfile
Due: npm run format:fix

fix: format error fix
  .github/workflows/release.yml
Due: none

ci: Add GitHub Actions workflow for linting, formatting, typechecking, and building.
  .github/workflows/ci.yml
Due: none

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package.json
Due: npm run format:fix

Notes added by 'git notes add'
  20ad30a7cd39c3d128431bc8d44b954e7ff1ff13
Due: none

chore: Configure GitHub issue/PR templates, Dependabot, CODEOWNERS, release workflow, and contribution guidelines, updating the README.
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
Due: npm run format:fix

fix: lint & format error
  .github/dependabot.yml
Due: none

chore: packages updating
  package.json
  packages/common/package.json
  pnpm-lock.yaml
  services/auth-service/package.json
Due: npm run format:fix

feat: Implement initial microservices architecture with auth, order, product, and notification services, alongside common config, eslint, and messaging utilities.
  package.json
  packages/common/src/messaging/rabbitmq.ts
  packages/common/src/validation/validateRequest.ts
  packages/config/src/core/Config.ts
  packages/eslint-config/base.js
  pnpm-lock.yaml
  services/auth-service/src/controllers/auth.controller.ts
  services/auth-service/src/index.ts
  services/auth-service/src/models/User.ts
  services/auth-service/src/services/auth.service.ts
  services/notification-service/package.json
  services/notification-service/src/index.ts
  services/notification-service/src/services/notification.service.ts
  services/order-service/package.json
  services/order-service/src/controllers/order.controller.ts
  services/order-service/src/index.ts
  services/order-service/src/models/Order.ts
  services/order-service/src/services/order.service.ts
  services/order-service/src/types/order.interface.d.ts
  services/order-service/src/types/order.interface.js
  services/order-service/src/types/order.interface.js.map
  services/product-service/src/controllers/product.controller.ts
  services/product-service/src/index.ts
  services/product-service/src/models/Product.ts
  services/product-service/src/services/product.service.ts
  turbo.json
Due: npm run lint:fix, npm run format:fix

chore: turbo config updated
  turbo.json
Due: npm run format:fix

feat: add GitHub Actions CI workflow for linting, formatting, typechecking, and building.
  .github/workflows/ci.yml
Due: none

feat: Add CI workflow, Prettier ignore, and initial package configurations for notification, order, and product microservices.
  .github/workflows/ci.yml
  gateway/.prettierignore
Due: none

chore: realse yml fixed
  .github/workflows/release.yml
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,ts,jsx,tsx}
  npm run format:fix: (any of: *.{js,ts,jsx,tsx}) or (any of: *.{json,md})
